*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
}


.mini{
	width: 200px;
	cursor: pointer;
	&:hover{
	outline: 1px solid orange;
	}
}

.max{
	position: absolute;
	top: 20%;
	left: 30%;
	width: 600px;
	
}

.blackpanel{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}

.show{
	display: block;

}

.close{
	background-color: white;
	position: absolute;
	top: 20%;
	left: 51%;
	margin-left: 260px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.hidden{
	display: none;
}