h1{

	color: :red;
}
h2
{
	color: grey;
}
p
{
	color:green;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    size: 150%;
    border: 3px solid rgb(77, 77, 0)
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
    size:150%;
    border: 3px solid rgb(77, 77, 0);
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
