body{
	background-color: 
}
#wrapper{
	width: 400px;
	height: 400px;
	background-color: gray;
	/*margin:0 auto 0 auto;*/
	/*margin:0 auto;*/
	margin:50px auto;
}
#header{
	width: 200px;
	height: 200px;
	background-color: yellow;

}
#content{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: relative;
	top: -20px;
	left: -20px;
	box-shadow: 20px 20px 10px #333;
}
#footer{
	width: 100px;
	height: 100px;
	background-color: red;
}