body{
	background-color: #d2d2d2
}
#wrapper{
	width:650px;
	margin: 30px auto;
}
#header{
	height: 77px;
	background-color: red;
}
#content{
	padding: 20px 20px;
	background-color: #fff;
}

#wrapper #content .logo{
	width: 100px;
	height: 100px;	
	position: fixed;
	top: 200px;
	left: 0px;
	z-index: 1;

}
#wrapper #content .nkar1{
	width: 100px;
	height: 100px;	
	position: fixed;
	top: 200px;
	left: 0px;
	z-index: 2;

}